In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.arange(0, 30).reshape(5, 6), index=['R1', 'R2', 'R3', 'R4', 'R5'], columns=['C1', 'C2', 'C3', 'C4', 'C5', 'C6'])

In [4]:
df

    C1  C2  C3  C4  C5  C6
R1   0   1   2   3   4   5
R2   6   7   8   9  10  11
R3  12  13  14  15  16  17
R4  18  19  20  21  22  23
R5  24  25  26  27  28  29

In [5]:
df.head(3) # tail

    C1  C2  C3  C4  C5  C6
R1   0   1   2   3   4   5
R2   6   7   8   9  10  11
R3  12  13  14  15  16  17

In [6]:
df.loc['R1']

C1    0
C2    1
C3    2
C4    3
C5    4
C6    5
Name: R1, dtype: int32

In [7]:
df.iloc[0]

C1    0
C2    1
C3    2
C4    3
C5    4
C6    5
Name: R1, dtype: int32

In [8]:
# slicing
df.iloc[:2, :3]

    C1  C2  C3
R1   0   1   2
R2   6   7   8

In [9]:
df.values

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [12]:
df_mb = pd.read_csv("datasets/mercedesbenz.csv")
df_mb.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_mb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [22]:
df_mb.shape

(4209, 378)

In [15]:
df_mb.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
type(df_mb['y'][0])

numpy.float64

In [28]:
df_mb[df_mb['y'] > 200]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
883,1770,265.32,y,r,ai,f,d,ag,l,t,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df_mb.corr()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,1.000000,-0.055108,0.001602,NaN,0.058988,-0.031917,-0.025438,0.002237,-0.036480,-0.038171,...,0.045229,-0.080259,-0.022965,0.030371,0.023382,-0.013577,-0.038171,-0.009332,-0.015355,0.029059
y,-0.055108,1.000000,-0.026985,NaN,0.089792,0.048276,0.193643,0.023116,0.048946,-0.159815,...,0.029100,0.114005,0.061403,-0.258679,0.067919,0.040932,-0.159815,0.040291,-0.004591,-0.022280
X10,0.001602,-0.026985,1.000000,NaN,-0.033084,-0.028806,-0.100474,-0.002532,-0.005944,-0.010164,...,0.165277,-0.028618,-0.074244,-0.016870,-0.011374,-0.010479,-0.010164,-0.004740,-0.002532,-0.004387
X11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X12,0.058988,0.089792,-0.033084,NaN,1.000000,0.214825,-0.246513,-0.006212,-0.014584,-0.024937,...,-0.107864,-0.070214,0.030134,-0.016043,-0.027907,-0.005566,-0.024937,-0.011628,-0.006212,-0.010765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X380,-0.013577,0.040932,-0.010479,NaN,-0.005566,0.023045,0.007743,-0.001968,-0.004619,-0.007899,...,-0.061741,-0.022240,-0.061168,-0.013110,-0.008839,1.000000,-0.007899,-0.003683,-0.001968,-0.003410
X382,-0.038171,-0.159815,-0.010164,NaN,-0.024937,-0.021713,0.012713,-0.001908,-0.004480,1.000000,...,-0.059883,-0.021571,-0.059327,-0.012716,-0.008573,-0.007899,1.000000,-0.003572,-0.001908,-0.003307
X383,-0.009332,0.040291,-0.004740,NaN,-0.011628,-0.010125,0.023604,-0.000890,-0.002089,-0.003572,...,-0.015413,-0.010059,0.035107,-0.005930,-0.003998,-0.003683,-0.003572,1.000000,-0.000890,-0.001542
X384,-0.015355,-0.004591,-0.002532,NaN,-0.006212,0.041242,0.025199,-0.000475,-0.001116,-0.001908,...,-0.014917,-0.005373,0.008694,-0.003168,-0.002136,-0.001968,-0.001908,-0.000890,1.000000,-0.000824
X385,0.029059,-0.022280,-0.004387,NaN,-0.010765,-0.009373,0.043667,-0.000824,-0.001934,-0.003307,...,0.055225,-0.009311,-0.025610,-0.005489,-0.003701,-0.003410,-0.003307,-0.001542,-0.000824,1.000000

In [30]:
df = pd.read_csv("https://download.bls.gov/pub/time.series/cu/cu.item", sep='\t')
df.head()

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,400
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,375
4,SA0L1,All items less food,1,T,359

In [31]:
df.shape

(400, 5)

### JSON, HTML, Pickle

In [32]:
data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
pd.read_json(data) # read_html

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [35]:
wine = pd.read_csv('datasets/wine.data', header=None)

In [36]:
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [38]:
df.to_csv('datasets/wine.csv')

In [41]:
df_json = df.to_json(orient="records")
df_json

'[{"item_code":"AA0","item_name":"All items - old base","display_level":0,"selectable":"T","sort_sequence":2},{"item_code":"AA0R","item_name":"Purchasing power of the consumer dollar - old base","display_level":0,"selectable":"T","sort_sequence":400},{"item_code":"SA0","item_name":"All items","display_level":0,"selectable":"T","sort_sequence":1},{"item_code":"SA0E","item_name":"Energy","display_level":1,"selectable":"T","sort_sequence":375},{"item_code":"SA0L1","item_name":"All items less food","display_level":1,"selectable":"T","sort_sequence":359},{"item_code":"SA0L12","item_name":"All items less food and shelter","display_level":1,"selectable":"T","sort_sequence":362},{"item_code":"SA0L12E","item_name":"All items less food, shelter, and energy","display_level":1,"selectable":"T","sort_sequence":363},{"item_code":"SA0L12E4","item_name":"All items less food, shelter, energy, and used cars and trucks","display_level":1,"selectable":"T","sort_sequence":364},{"item_code":"SA0L1E","item_name":"All items less food and energy","display_level":1,"selectable":"T","sort_sequence":360},{"item_code":"SA0L2","item_name":"All items less shelter","display_level":1,"selectable":"T","sort_sequence":361},{"item_code":"SA0L5","item_name":"All items less medical care","display_level":1,"selectable":"T","sort_sequence":357},{"item_code":"SA0LE","item_name":"All items less energy","display_level":1,"selectable":"T","sort_sequence":358},{"item_code":"SA0R","item_name":"Purchasing power of the consumer dollar","display_level":0,"selectable":"T","sort_sequence":399},{"item_code":"SA311","item_name":"Apparel less footwear","display_level":1,"selectable":"T","sort_sequence":365},{"item_code":"SAA","item_name":"Apparel","display_level":0,"selectable":"T","sort_sequence":187},{"item_code":"SAA1","item_name":"Men\'s and boys\' apparel","display_level":1,"selectable":"T","sort_sequence":188},{"item_code":"SAA2","item_name":"Women\'s and girls\' apparel","display_level":1,"selectable":"T","sort_sequence":195},{"item_code":"SAC","item_name":"Commodities","display_level":1,"selectable":"T","sort_sequence":366},{"item_code":"SACE","item_name":"Energy commodities","display_level":1,"selectable":"T","sort_sequence":376},{"item_code":"SACL1","item_name":"Commodities less food","display_level":1,"selectable":"T","sort_sequence":367},{"item_code":"SACL11","item_name":"Commodities less food and beverages","display_level":1,"selectable":"T","sort_sequence":368},{"item_code":"SACL1E","item_name":"Commodities less food and energy commodities","display_level":1,"selectable":"T","sort_sequence":369},{"item_code":"SACL1E4","item_name":"Commodities less food, energy, and used cars and trucks","display_level":1,"selectable":"T","sort_sequence":370},{"item_code":"SAD","item_name":"Durables","display_level":1,"selectable":"T","sort_sequence":372},{"item_code":"SAE","item_name":"Education and communication","display_level":0,"selectable":"T","sort_sequence":311},{"item_code":"SAE1","item_name":"Education","display_level":1,"selectable":"T","sort_sequence":312},{"item_code":"SAE2","item_name":"Communication","display_level":1,"selectable":"T","sort_sequence":320},{"item_code":"SAE21","item_name":"Information and information processing","display_level":2,"selectable":"T","sort_sequence":324},{"item_code":"SAEC","item_name":"Education and communication commodities","display_level":1,"selectable":"T","sort_sequence":373},{"item_code":"SAES","item_name":"Education and communication services","display_level":1,"selectable":"T","sort_sequence":374},{"item_code":"SAF","item_name":"Food and beverages","display_level":0,"selectable":"T","sort_sequence":3},{"item_code":"SAF1","item_name":"Food","display_level":1,"selectable":"T","sort_sequence":4},{"item_code":"SAF11","item_name":"Food at home","display_level":2,"selectable":"T","sort_sequence":5},{"item_code":"SAF111","item_name":"Cereals and bakery products","display_level":3,"selectable":"T","sort_sequence":6},{"item_code":"SAF112","item_name":"Meats, poultry, fish, and eggs","display_level":3,"selectable":"T","sort_sequence":24},{"item_code":"SAF1121","item_name":"Meats, poultry, and fish","display_level":4,"selectable":"T","sort_sequence":25},{"item_code":"SAF11211","item_name":"Meats","display_level":5,"selectable":"T","sort_sequence":26},{"item_code":"SAF113","item_name":"Fruits and vegetables","display_level":3,"selectable":"T","sort_sequence":63},{"item_code":"SAF1131","item_name":"Fresh fruits and vegetables","display_level":4,"selectable":"T","sort_sequence":64},{"item_code":"SAF114","item_name":"Nonalcoholic beverages and beverage materials","display_level":3,"selectable":"T","sort_sequence":84},{"item_code":"SAF115","item_name":"Other food at home","display_level":3,"selectable":"T","sort_sequence":94},{"item_code":"SAF116","item_name":"Alcoholic beverages","display_level":2,"selectable":"T","sort_sequence":125},{"item_code":"SAG","item_name":"Other goods and services","display_level":0,"selectable":"T","sort_sequence":336},{"item_code":"SAG1","item_name":"Personal care","display_level":1,"selectable":"T","sort_sequence":340},{"item_code":"SAGC","item_name":"Other goods","display_level":1,"selectable":"T","sort_sequence":384},{"item_code":"SAGS","item_name":"Other personal services","display_level":1,"selectable":"T","sort_sequence":385},{"item_code":"SAH","item_name":"Housing","display_level":0,"selectable":"T","sort_sequence":136},{"item_code":"SAH1","item_name":"Shelter","display_level":1,"selectable":"T","sort_sequence":137},{"item_code":"SAH2","item_name":"Fuels and utilities","display_level":1,"selectable":"T","sort_sequence":145},{"item_code":"SAH21","item_name":"Household energy","display_level":2,"selectable":"T","sort_sequence":146},{"item_code":"SAH3","item_name":"Household furnishings and operations","display_level":1,"selectable":"T","sort_sequence":156},{"item_code":"SAH31","item_name":"Household furnishings and supplies","display_level":1,"selectable":"T","sort_sequence":377},{"item_code":"SAM","item_name":"Medical care","display_level":0,"selectable":"T","sort_sequence":250},{"item_code":"SAM1","item_name":"Medical care commodities","display_level":1,"selectable":"T","sort_sequence":251},{"item_code":"SAM2","item_name":"Medical care services","display_level":1,"selectable":"T","sort_sequence":256},{"item_code":"SAN","item_name":"Nondurables","display_level":1,"selectable":"T","sort_sequence":379},{"item_code":"SAN1D","item_name":"Domestically produced farm food","display_level":1,"selectable":"T","sort_sequence":371},{"item_code":"SANL1","item_name":"Nondurables less food","display_level":1,"selectable":"T","sort_sequence":380},{"item_code":"SANL11","item_name":"Nondurables less food and beverages","display_level":1,"selectable":"T","sort_sequence":382},{"item_code":"SANL113","item_name":"Nondurables less food, beverages, and apparel","display_level":1,"selectable":"T","sort_sequence":383},{"item_code":"SANL13","item_name":"Nondurables less food and apparel","display_level":1,"selectable":"T","sort_sequence":381},{"item_code":"SAR","item_name":"Recreation","display_level":0,"selectable":"T","sort_sequence":269},{"item_code":"SARC","item_name":"Recreation commodities","display_level":1,"selectable":"T","sort_sequence":387},{"item_code":"SARS","item_name":"Recreation services","display_level":1,"selectable":"T","sort_sequence":388},{"item_code":"SAS","item_name":"Services","display_level":1,"selectable":"T","sort_sequence":390},{"item_code":"SAS24","item_name":"Utilities and public transportation","display_level":1,"selectable":"T","sort_sequence":396},{"item_code":"SAS2RS","item_name":"Rent of shelter","display_level":1,"selectable":"T","sort_sequence":389},{"item_code":"SAS367","item_name":"Other services","display_level":1,"selectable":"T","sort_sequence":386},{"item_code":"SAS4","item_name":"Transportation services","display_level":1,"selectable":"T","sort_sequence":395},{"item_code":"SASL2RS","item_name":"Services less rent of shelter","display_level":1,"selectable":"T","sort_sequence":393},{"item_code":"SASL5","item_name":"Services less medical care services","display_level":1,"selectable":"T","sort_sequence":392},{"item_code":"SASLE","item_name":"Services less energy services","display_level":1,"selectable":"T","sort_sequence":391},{"item_code":"SAT","item_name":"Transportation","display_level":0,"selectable":"T","sort_sequence":210},{"item_code":"SAT1","item_name":"Private transportation","display_level":1,"selectable":"T","sort_sequence":211},{"item_code":"SATCLTB","item_name":"Transportation commodities less motor fuel","display_level":1,"selectable":"T","sort_sequence":394},{"item_code":"SEAA","item_name":"Men\'s apparel","display_level":2,"selectable":"T","sort_sequence":189},{"item_code":"SEAA01","item_name":"Men\'s suits, sport coats, and outerwear","display_level":3,"selectable":"T","sort_sequence":190},{"item_code":"SEAA02","item_name":"Men\'s underwear, nightwear, swimwear and accessories","display_level":3,"selectable":"T","sort_sequence":191},{"item_code":"SEAA03","item_name":"Men\'s shirts and sweaters","display_level":3,"selectable":"T","sort_sequence":192},{"item_code":"SEAA04","item_name":"Men\'s pants and shorts","display_level":3,"selectable":"T","sort_sequence":193},{"item_code":"SEAB","item_name":"Boys\' apparel","display_level":2,"selectable":"T","sort_sequence":194},{"item_code":"SEAC","item_name":"Women\'s apparel","display_level":2,"selectable":"T","sort_sequence":196},{"item_code":"SEAC01","item_name":"Women\'s outerwear","display_level":3,"selectable":"T","sort_sequence":197},{"item_code":"SEAC02","item_name":"Women\'s dresses","display_level":3,"selectable":"T","sort_sequence":198},{"item_code":"SEAC03","item_name":"Women\'s suits and separates","display_level":3,"selectable":"T","sort_sequence":199},{"item_code":"SEAC04","item_name":"Women\'s underwear, nightwear, swimwear and accessories","display_level":3,"selectable":"T","sort_sequence":200},{"item_code":"SEAD","item_name":"Girls\' apparel","display_level":2,"selectable":"T","sort_sequence":201},{"item_code":"SEAE","item_name":"Footwear","display_level":1,"selectable":"T","sort_sequence":202},{"item_code":"SEAE01","item_name":"Men\'s footwear","display_level":2,"selectable":"T","sort_sequence":203},{"item_code":"SEAE02","item_name":"Boys\' and girls\' footwear","display_level":2,"selectable":"T","sort_sequence":204},{"item_code":"SEAE03","item_name":"Women\'s footwear","display_level":2,"selectable":"T","sort_sequence":205},{"item_code":"SEAF","item_name":"Infants\' and toddlers\' apparel","display_level":1,"selectable":"T","sort_sequence":206},{"item_code":"SEAG","item_name":"Jewelry and watches","display_level":1,"selectable":"T","sort_sequence":207},{"item_code":"SEAG01","item_name":"Watches","display_level":2,"selectable":"T","sort_sequence":208},{"item_code":"SEAG02","item_name":"Jewelry","display_level":2,"selectable":"T","sort_sequence":209},{"item_code":"SEEA","item_name":"Educational books and supplies","display_level":2,"selectable":"T","sort_sequence":313},{"item_code":"SEEB","item_name":"Tuition, other school fees, and childcare","display_level":2,"selectable":"T","sort_sequence":315},{"item_code":"SEEB01","item_name":"College tuition and fees","display_level":3,"selectable":"T","sort_sequence":316},{"item_code":"SEEB02","item_name":"Elementary and high school tuition and fees","display_level":3,"selectable":"T","sort_sequence":317},{"item_code":"SEEB03","item_name":"Day care and preschool","display_level":3,"selectable":"T","sort_sequence":318},{"item_code":"SEEB04","item_name":"Technical and business school tuition and fees","display_level":3,"selectable":"T","sort_sequence":319},{"item_code":"SEEC","item_name":"Postage and delivery services","display_level":2,"selectable":"T","sort_sequence":321},{"item_code":"SEEC01","item_name":"Postage","display_level":3,"selectable":"T","sort_sequence":322},{"item_code":"SEEC02","item_name":"Delivery services","display_level":3,"selectable":"T","sort_sequence":323},{"item_code":"SEED","item_name":"Telephone services","display_level":3,"selectable":"T","sort_sequence":325},{"item_code":"SEED03","item_name":"Wireless telephone services","display_level":4,"selectable":"T","sort_sequence":326},{"item_code":"SEED04","item_name":"Residential telephone services","display_level":4,"selectable":"T","sort_sequence":327},{"item_code":"SEEE","item_name":"Information technology, hardware and services","display_level":2,"selectable":"T","sort_sequence":330},{"item_code":"SEEE01","item_name":"Computers, peripherals, and smart home assistants","display_level":3,"selectable":"T","sort_sequence":331},{"item_code":"SEEE02","item_name":"Computer software and accessories","display_level":3,"selectable":"T","sort_sequence":332},{"item_code":"SEEE03","item_name":"Internet services and electronic information providers","display_level":3,"selectable":"T","sort_sequence":333},{"item_code":"SEEE04","item_name":"Telephone hardware, calculators, and other consumer information items","display_level":3,"selectable":"T","sort_sequence":334},{"item_code":"SEEEC","item_name":"Information technology commodities","display_level":1,"selectable":"T","sort_sequence":378},{"item_code":"SEFA","item_name":"Cereals and cereal products","display_level":4,"selectable":"T","sort_sequence":7},{"item_code":"SEFA01","item_name":"Flour and prepared flour mixes","display_level":5,"selectable":"T","sort_sequence":8},{"item_code":"SEFA02","item_name":"Breakfast cereal","display_level":5,"selectable":"T","sort_sequence":9},{"item_code":"SEFA03","item_name":"Rice, pasta, cornmeal","display_level":5,"selectable":"T","sort_sequence":10},{"item_code":"SEFB","item_name":"Bakery products","display_level":4,"selectable":"T","sort_sequence":12},{"item_code":"SEFB01","item_name":"Bread","display_level":5,"selectable":"T","sort_sequence":13},{"item_code":"SEFB02","item_name":"Fresh biscuits, rolls, muffins","display_level":5,"selectable":"T","sort_sequence":16},{"item_code":"SEFB03","item_name":"Cakes, cupcakes, and cookies","display_level":5,"selectable":"T","sort_sequence":17},{"item_code":"SEFB04","item_name":"Other bakery products","display_level":5,"selectable":"T","sort_sequence":20},{"item_code":"SEFC","item_name":"Beef and veal","display_level":6,"selectable":"T","sort_sequence":27},{"item_code":"SEFC01","item_name":"Uncooked ground beef","display_level":7,"selectable":"T","sort_sequence":28},{"item_code":"SEFC02","item_name":"Uncooked beef roasts","display_level":7,"selectable":"T","sort_sequence":29},{"item_code":"SEFC03","item_name":"Uncooked beef steaks","display_level":7,"selectable":"T","sort_sequence":30},{"item_code":"SEFC04","item_name":"Uncooked other beef and veal","display_level":7,"selectable":"T","sort_sequence":31},{"item_code":"SEFD","item_name":"Pork","display_level":6,"selectable":"T","sort_sequence":32},{"item_code":"SEFD01","item_name":"Bacon, breakfast sausage, and related products","display_level":7,"selectable":"T","sort_sequence":33},{"item_code":"SEFD02","item_name":"Ham","display_level":7,"selectable":"T","sort_sequence":36},{"item_code":"SEFD03","item_name":"Pork chops","display_level":7,"selectable":"T","sort_sequence":38},{"item_code":"SEFD04","item_name":"Other pork including roasts, steaks, and ribs","display_level":7,"selectable":"T","sort_sequence":39},{"item_code":"SEFE","item_name":"Other meats","display_level":6,"selectable":"T","sort_sequence":40},{"item_code":"SEFF","item_name":"Poultry","display_level":6,"selectable":"T","sort_sequence":45},{"item_code":"SEFF01","item_name":"Chicken","display_level":7,"selectable":"T","sort_sequence":46},{"item_code":"SEFF02","item_name":"Other uncooked poultry including turkey","display_level":6,"selectable":"T","sort_sequence":49},{"item_code":"SEFG","item_name":"Fish and seafood","display_level":5,"selectable":"T","sort_sequence":50},{"item_code":"SEFG01","item_name":"Fresh fish and seafood","display_level":6,"selectable":"T","sort_sequence":51},{"item_code":"SEFG02","item_name":"Processed fish and seafood","display_level":6,"selectable":"T","sort_sequence":52},{"item_code":"SEFH","item_name":"Eggs","display_level":4,"selectable":"T","sort_sequence":55},{"item_code":"SEFJ","item_name":"Dairy and related products","display_level":3,"selectable":"T","sort_sequence":56},{"item_code":"SEFJ01","item_name":"Milk","display_level":4,"selectable":"T","sort_sequence":57},{"item_code":"SEFJ02","item_name":"Cheese and related products","display_level":4,"selectable":"T","sort_sequence":60},{"item_code":"SEFJ03","item_name":"Ice cream and related products","display_level":4,"selectable":"T","sort_sequence":61},{"item_code":"SEFJ04","item_name":"Other dairy and related products","display_level":4,"selectable":"T","sort_sequence":62},{"item_code":"SEFK","item_name":"Fresh fruits","display_level":5,"selectable":"T","sort_sequence":65},{"item_code":"SEFK01","item_name":"Apples","display_level":6,"selectable":"T","sort_sequence":66},{"item_code":"SEFK02","item_name":"Bananas","display_level":6,"selectable":"T","sort_sequence":67},{"item_code":"SEFK03","item_name":"Citrus fruits","display_level":6,"selectable":"T","sort_sequence":68},{"item_code":"SEFK04","item_name":"Other fresh fruits","display_level":6,"selectable":"T","sort_sequence":70},{"item_code":"SEFL","item_name":"Fresh vegetables","display_level":5,"selectable":"T","sort_sequence":71},{"item_code":"SEFL01","item_name":"Potatoes","display_level":6,"selectable":"T","sort_sequence":72},{"item_code":"SEFL02","item_name":"Lettuce","display_level":6,"selectable":"T","sort_sequence":73},{"item_code":"SEFL03","item_name":"Tomatoes","display_level":6,"selectable":"T","sort_sequence":74},{"item_code":"SEFL04","item_name":"Other fresh vegetables","display_level":6,"selectable":"T","sort_sequence":75},{"item_code":"SEFM","item_name":"Processed fruits and vegetables","display_level":4,"selectable":"T","sort_sequence":76},{"item_code":"SEFM01","item_name":"Canned fruits and vegetables","display_level":5,"selectable":"T","sort_sequence":77},{"item_code":"SEFM02","item_name":"Frozen fruits and vegetables","display_level":5,"selectable":"T","sort_sequence":80},{"item_code":"SEFM03","item_name":"Other processed fruits and vegetables including dried","display_level":5,"selectable":"T","sort_sequence":82},{"item_code":"SEFN","item_name":"Juices and nonalcoholic drinks","display_level":4,"selectable":"T","sort_sequence":85},{"item_code":"SEFN01","item_name":"Carbonated drinks","display_level":5,"selectable":"T","sort_sequence":86},{"item_code":"SEFN02","item_name":"Frozen noncarbonated juices and drinks","display_level":5,"selectable":"T","sort_sequence":87},{"item_code":"SEFN03","item_name":"Nonfrozen noncarbonated juices and drinks","display_level":5,"selectable":"T","sort_sequence":88},{"item_code":"SEFP","item_name":"Beverage materials including coffee and tea","display_level":4,"selectable":"T","sort_sequence":89},{"item_code":"SEFP01","item_name":"Coffee","display_level":5,"selectable":"T","sort_sequence":90},{"item_code":"SEFP02","item_name":"Other beverage materials including tea","display_level":5,"selectable":"T","sort_sequence":93},{"item_code":"SEFR","item_name":"Sugar and sweets","display_level":4,"selectable":"T","sort_sequence":95},{"item_code":"SEFR01","item_name":"Sugar and sugar substitutes","display_level":5,"selectable":"T","sort_sequence":96},{"item_code":"SEFR02","item_name":"Candy and chewing gum","display_level":5,"selectable":"T","sort_sequence":97},{"item_code":"SEFR03","item_name":"Other sweets","display_level":5,"selectable":"T","sort_sequence":98},{"item_code":"SEFS","item_name":"Fats and oils","display_level":4,"selectable":"T","sort_sequence":99},{"item_code":"SEFS01","item_name":"Butter and margarine","display_level":5,"selectable":"T","sort_sequence":100},{"item_code":"SEFS02","item_name":"Salad dressing","display_level":5,"selectable":"T","sort_sequence":103},{"item_code":"SEFS03","

In [44]:
# Excel
df_excel = pd.read_excel('datasets/Excel_sample.xlsx')
df_excel.head()

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [45]:
# Pickling
df_excel.to_pickle('datasets/df_excel')

In [46]:
df_pickle = pd.read_pickle('datasets/df_excel')
df_pickle.head()

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15